{% extends 'base.html' %} 

{% block content %}
<div
  class="d-flex align-items-center justify-content-center w-auto p-4 border border-3 rounded-3"
>
  <form action="{% url 'logout' %}" method="post">
    {% csrf_token %}

    <div class="pb-4 text-center">
      <h3>Deseja realmente fazer o logout da aplicação?</h3>
    </div>
    <div class="btn-group d-flex justify-content-center">
      <button type="submit" class="btn btn-outline-primary">
        <i class="bi bi-door-closed"></i>
        <span class="d-none d-lg-inline">Logout</span>
      </button>
      <button
        type="button"
        class="btn btn-outline-secondary"
        onclick="history.back()"
      >
        <i class="bi bi-box-arrow-left"></i>
        <span class="d-none d-lg-inline">Voltar</span>
      </button>
    </div>
  </form>
</div>
{% endblock %}
