{% extends 'base.html' %}

{% block content %}
  <div class="d-flex flex-column w-auto p-4 border border-3 rounded-3 overflow-auto" style="height: 90vh">
    <div class="row">
      <div class="col-sm-8">
        <div class="d-flex align-items-center gap-4">
          <h1>Postagens de {{ user.username }}</h1>
          {% if user.id != request.user.id %}
            <form action="{% url 'follow_user' pk=user.id %}" method="post">
              {% csrf_token %}
              <button type="submit"
                class="btn {% if is_following %}
                  btn-outline-danger
                {% else %}
                  btn-outline-success
                {% endif %}">
                {% if is_following %}Deixar de {% endif %}Seguir
              </button>
            </form>
          {% endif %}
        </div>
        {% for post in posts %}
          <div class="card w-100 mb-2">
            <div class="card-body">
              <p class="card-title">postado em {{ post.created_at|date }}</p>
              <p class="card-text">{{ post.content }}</p>
              <a href="{% url 'like_post' post.id %}" class="text-decoration-none"><i class="bi bi-hand-thumbs-up-fill"></i></a>
            </div>
            <div class="card-footer">{{ post.likes.count }} likes</div>
          </div>
        {% endfor %}
      </div>
      <div class="col-sm-4">
        <br />
        <h3>Seguindo</h3>
        {% for following_user in following %}
          <div class="list-group">
            <a href="{% url 'profile' pk=following_user.pk %}" class="list-group-item list-group-item-action">{{ following_user.username }}</a>
          </div>
        {% empty %}
          <div class="list-group">
            <a href="#" class="list-group-item list-group-item-action">Não está seguindo algum usuário</a>
          </div>
        {% endfor %}
        <br />
        <h3>Seguidores</h3>
        {% for follower_user in followers %}
          <div class="list-group">
            <a href="{% url 'profile' pk=follower_user.pk %}" class="list-group-item list-group-item-action">{{ follower_user.username }}</a>
          </div>
        {% empty %}
          <div class="list-group">
            <a href="#" class="list-group-item list-group-item-action">Não há seguidores</a>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
{% endblock %}
